# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Ignore generated service workers
app/static/sw.js
app/static/workbox-sw.prod*

# yarn
yarn-error.log

# ESLint ignore
app/tailwind.config.js
app/config/tailwind.config.js

# Jest Coverage
coverage
.DS_Store
